<div *ngIf="loading$ | async">
  Buch wird geladen...
</div>

<div *ngIf="book$ | async as book; else loading" style="margin-top: 80px">

  <h3>{{ book.title }}</h3>

  <p>
    <strong>ISBN:</strong> {{ book.isbn }}
  </p>
  <p>
    <strong>Rating:</strong> {{ book.rating }}
  </p>

  <hr>

  <p>
    {{ book.description }}
  </p>

  <hr>
  <a class="btn btn-success" routerLink="/dashboard">Back to Dashboard</a>

</div>

<ng-template #loading>
  <h2>Loading....</h2>
</ng-template>

<a
  class="btn btn-primary"
  routerLink="/book/22222">Go to Book 222</a>
